<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
 
	<http auto-config="true">
		<intercept-url pattern="/computer/add*" access="ROLE_ADMIN" />
		<intercept-url pattern="/computer/update*" access="ROLE_ADMIN" />
		<intercept-url pattern="/dashboard/delete*" access="ROLE_ADMIN" />
		<logout logout-success-url="/dashboard" />
		<http-basic/>
	</http>
	
	<!-- Encodage du password -->
	<beans:bean name="bcryptEncoder"
    class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
 
	<authentication-manager>
	  <authentication-provider>
	  <password-encoder ref="bcryptEncoder"/>
	    <user-service>
		<user name="user" password="$2a$10$3Fl8JQIZ0u1NGFZB9aKJh.axze81/INxzkDz2fXO3BMgM8fViy8JK" authorities="ROLE_ADMIN" />
	    </user-service>
	  </authentication-provider>
	</authentication-manager>
 
</beans:beans>